<ion-view view-title="about">
 <ion-content padding="true">
  <div class="list card">
   <div class="item item-divider">
    <h1>about pwd</h1>
   </div>
   <div class="item">
    <ul>
     <li>Source: <a href="https://github.com/westurner/pwd-ionic">https://github.com/westurner/pwd-ionic</a></li>
     <li>Free Software: New BSD License</li>
    </ul>
   </div>
   <div class="item item-divider">
    <h2>components</h2>
   </div>
   <div class="item">
    <h3>Ionic</h3>
    <p>
     <ul>
      <li>Web: <a href="http://ionicframework.com/">http://ionicframework.com/</a></li>
      <li>Source: <a href="https://github.com/driftyco/ionic">https://github.com/driftyco/ionic</a></li>
      <li>Docs: <a href="http://ionicframework.com/docs/">http://ionicframework.com/docs/</a></li>
     </ul>
    </p>
    <h3>Angular 1</h3>
    <p>
     <ul>
      <li>Web: <a href="https://angularjs.org/">https://angularjs.org/</a></li>
      <li>Source: <a href="https://github.com/angular/angular.js">https://github.com/angular/angular.js</a></li>
      <li>Docs: <a href="https://docs.angularjs.org/">https://docs.angularjs.org/</a></li>
      <li>Docs: <a href="https://docs.angularjs.org/guide/concepts">https://docs.angularjs.org/guide/concepts</a></li>
     </ul>
    </p>
    <h3>pwd</h3>
    <p>
     <ul>
      <li>Web: <a href="https://westurner.org/pwd/">https://westurner.org/pwd</a></li>
      <li>Source: <a href="https://github.com/westurner/pwd">https://github.com/westurner/pwd</a></li>
     </ul>
    </p>
   </div>
  </div>
 </ion-content>
</ion-view>
